.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ddd;
  }

  a {
    padding: 10px;
    color: #a3a2a2;
    border-radius: 10px;

    &:hover {
      color: #ddd;
      background-color: #2c2937;
    }
  }

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  .upgrade {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 24px;
      height: 30px;
    }

    .texts {
      font-size: 14px;
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 600;
        }

        &:last-child {
          color: #888;
        }
      }
    }
  }
}
